# üçΩÔ∏è Zomato Data Analysis
This notebook performs data cleaning, analysis, and visualization on the Zomato dataset.

In [ ]:
# Step 1: Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Step 2: Load Dataset
df = pd.read_csv('zomato.csv')
df.head()

In [ ]:
# Step 3: Clean Data
df.dropna(how='any', inplace=True)
df.drop_duplicates(inplace=True)
df['rate'] = df['rate'].astype(str).apply(lambda x: x.split('/')[0])
df['rate'] = df['rate'].replace(['NEW', '-'], np.nan).astype(float)
df['approx_cost(for two people)'] = df['approx_cost(for two people)'].astype(str).str.replace(',', '')
df['approx_cost(for two people)'] = pd.to_numeric(df['approx_cost(for two people)'], errors='coerce')
df.rename(columns={
    'approx_cost(for two people)': 'cost_for_two',
    'listed_in(type)': 'type',
    'listed_in(city)': 'city'
}, inplace=True)
df.head()

In [ ]:
# Step 4: Summary Info
df.info()
df.isnull().sum()

In [ ]:
# Step 5: Online Order Count
sns.countplot(x='online_order', data=df)
plt.title('Online Order Availability')
plt.show()

In [ ]:
# Step 6: Book Table Count
sns.countplot(x='book_table', data=df)
plt.title('Table Booking Availability')
plt.show()

In [ ]:
# Step 7: Rating by Type
sns.barplot(x='type', y='rate', data=df, ci=None)
plt.xticks(rotation=45)
plt.title('Average Rating by Restaurant Type')
plt.show()

In [ ]:
# Step 8: Votes Distribution
sns.histplot(df['votes'], bins=30, kde=True)
plt.title('Votes Distribution')
plt.show()

In [ ]:
# Step 9: Cost for Two Distribution
sns.histplot(df['cost_for_two'], bins=30, kde=True)
plt.title('Cost for Two Distribution')
plt.show()

In [ ]:
# Step 10: Correlation Heatmap
sns.heatmap(df[['rate', 'votes', 'cost_for_two']].corr(), annot=True, cmap='coolwarm')
plt.title('Correlation Heatmap')
plt.show()

In [ ]:
# Step 11: Top Rated Restaurants
top_rated = df.sort_values(by='rate', ascending=False).head(10)
top_rated[['name', 'rate', 'votes', 'cost_for_two']]